.contact-bio{
color: rgb(247, 247, 247);
padding: 0px 50px;
margin-bottom: 50px;
border-style: solid;
border-color: rgb(255, 255, 255);
}


.intro-text{
   font-size: 13px;
}

@media (max-width: 767px){

.intro-text{
        display: none;
    }
}
